nav {
    
    display: fixed;
  }
  .navbar {
    background-color: rgba(142, 100, 233, 0.815);
  }
  .side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .side-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30%;
  }
  .image_logo {
    size-adjust: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .profile-logo {
    text-decoration: solid;
  }
  .dropdown-menu {
    background-color: whitesmoke;
    border-radius: 10px;
    flex-direction: left;
    z-index: 2;
  }
  