<div class="container align-items-center ">
      <div class="row justify-content-center ">
      <div class="col-md-6">
        <div class="card w-100">
          <div class="card-header">
            <h2 class="text-center">Create Auction</h2>
          </div>
         
          <div class="card-body me-2">
          
            <form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">

              <div class="form-group me-2 mt-2 " >
                <label for="product">Select Product</label>
                <select id="product" class="form-select" formControlName="productId">
                  <option *ngFor="let product of products" [value]="product.productId">{{product.productName}}</option>
                   </select>
              </div>
            
              <div class="form-group mt-2">
                <label for="auctionStartTime">Auction Start Time</label>
                <input type="datetime-local" id="auctionStartTime" class="form-control" formControlName="auctionStartTime">
              </div>
              <div class="form-group mt-2">
                <label for="auctionEndTime">Auction End Time</label>
                <input type="datetime-local" id="auctionEndTime" class="form-control" formControlName="auctionEndTime">
              </div>
              <div class="form-group mt-2">
                <label for="auctionStatus">Auction Status</label>
                <select id="auctionStatus" class="form-select-sm bg-white" formControlName="auctionStatus" >
                    <option value="Y">Active</option>
                    <option value="N">Inactive</option>
                    
                </select>
              </div>
              
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  